body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: #053636;
}

#map {
    margin-top: 2em;
    padding: 1em;
    position: relative;
    height: 90vh;
}

#map > canvas {
    display: block;
    left: calc(10% - 2em);
    background-color: black;
    width: 80%;
    height: 62vh;
    margin-bottom: 10vh;
}

.matrix-select {
    margin-top: 2vh;
    width: 100%;
    height: fit-content;
}

.matrix-select > div {
    width: 49em;
    margin: auto;
}

.matrix-select > div > button {
    margin-left: 2em;
    display: inline-block;
    width: 12em;
}

#matrix {
    width: 100%;
}

#matrix > table {
    display: block;
    margin: 2em auto auto;
    width: min-content;
}

table {
    display: block;
    height: 40vh;
    overflow-y: scroll;
    width: fit-content;
    border-collapse: collapse;
    border-bottom: 2px solid black;
}

/* Zebra striping */
tr:nth-of-type(odd) {
    background: #062929;
    color: wheat;
}

th {
    background: #053636 ;
    color: wheat;
    font-weight: bold;
}

td, th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    font-size: 18px;
    color: wheat;
}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table {
        width: 100%;
    }

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        /* Label the data */
        content: attr(data-column);

        color: #000;
        font-weight: bold;
    }

}

#dataview {
    margin: auto;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switches {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 12;
}

.switches > div {
    width: 100%;
    background: rgba(7, 200, 236, 0.2);
}


.switches > div > div {
    margin: auto;
    text-align: center;
}

.switches > div > div > div {
    position: relative;
    display: inline-block;
    padding: 1em;
    margin: auto;
}

.worker-buttons {
    margin-top: 3em;
    width: 100%;
    height: 10vh;
    display: inline-block;
}

.worker-buttons > button {
    width: 20em;
    height: 4em;
    background-color: transparent;
}


.worker-buttons > button:hover {
    cursor: pointer;
    background-color: #547a9e;
}

.solutions {
    width: 100%;
    height: 30vh;
    position: fixed;
    top: 30vh;
    z-index: 13;
}

.solutions > div {
    width: 60%;
    margin: auto;
    padding: 5em;
    text-align: center;
    background: rgba(34, 98, 255, 0.4);
    color: white;
    border-radius: 5em;
}

.solutions > div > div > div {
    width: 100%;
}

a {
    color: #59acee;
}

.solutions > div > div > div > ol {
    width: fit-content;
    margin: auto;
    text-align: left;
    padding-right: 5em;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: #004477;
}

.solutions > div > div > div > ol > li {
    display: inline-block;
    margin-left: 1em;
}

.legend > div > div {
    height: 1.5em;
    padding: 0 0 0 4px;
    border-bottom: 2px solid #004477;
    display: inline-block;
    font-size: 0.6em;
}

.legend > div > div > p {
    padding: 0;
    margin: 0.3em 0 0;
    height: 100%;
    display: inline-block;
}

#about {
    position: absolute;
    z-index: 15;
    width: 60%;
    height: 75vh;
    top: -70vh;
    left: 20%;
    background-color: #062929;
    color: snow;
    border-radius: 2em;
}

.select-button:hover {
    opacity: 0.8;
}